*{
    font-family: 돋움;
    font-size: 11pt;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{display: none;}

a{
    text-decoration: none;
    color: white;
}
p{
    color:#666;
}
h3{
    margin-bottom: 10px;
    font-size: 15pt;
    color: #4f4449;
}

header{
    width: 100%;
    height: 70px;
    font-size: 12pt;
    position: fixed;
    z-index: 9999;
}
.header2{
    position: fixed;
    left: 20px;
    top: 4px;
    transition: all 0.4s;
}
.header2:hover{
    transform: scale(1.1);
}
.menu{
    position: fixed;
    top: 18px;
    right: 10%;
}
.slide_1{
    z-index: 99;
}
.slide_2{
    z-index: 98;
}
.slide_3{
    z-index: 97;
}

.menu li{
        display: inline-block;
        margin-right: 20px;
    }
.menu li{
        text-decoration: none;
        color: white;
        transition: all 0.3s;
    }
.menu li:hover{
    transform: scale(1.1);
}

#main_pic{
    position: relative;
}

.img_slide{
    width: 100%;
    height: 440px;
    position: relative;
    background-color: black;
}

#main_pic>.img_slide>img{
    width: 100%;
    height: 440px;
    position: absolute;
    transition: all 1.5s;
}
.logoin{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s;
    z-index: 9999;
}
/*.logoin:hover{
    transform: translate(-50%,-50%);
    transform: scale(1.1);
}*/
.logo{
    margin-left: 20px;
}
section{
        margin: 0px auto 0;
        width: 620px;
    }
article{
        text-align: center;
    }
.first{
        margin-top: 100px;
    margin-left: 10px;
        text-align: center;
    }
.first p{
        margin-top: 20px;
        font-size: 11pt;
}
.second{
        margin: 100px auto 0px; 
    text-align: center;
}
.second ul{
    margin-left: 15px;
}

.three{
        margin: 0 20px;
}
.three img{
    width: 100%;
}

    
    

    
    

    

   

    article ul li{
        display: inline-block;
    }

.third{
    margin-top: 50px;
    margin-bottom: 50px;
}

    .service{
        width: 100%;
        margin: 10px auto 60px;
        padding-right: 15px;
    }
.service p{
    margin-left: 20px;
}
.img{
        display: inline-block; 
            width: 75px;
        margin-top: 15px; 
        margin-left: 20px;
    }

.line{
    border-top: 5px solid #7f3654;
}
    footer{
        border-top: 5px solid #565656;
        
        height: 130px;
        position: relative;
    }
.footer{
    width: 100%;
    height: 100%;
    position: absolute;
    
}
    .pc{
        position: absolute;
        left: 10px;
        top: 42px;
        height: 80px;
        transition: all 0.4s;
    }
.pc:hover{
    transform: scale(1.1);
}
footer p{
    color: white;
    width: 730px;
    transform: translate(-365px,0);
    position:absolute;
    top: 90px; left: 50%;
}

    .sns{
        
        position: absolute;
        right: 10px;
        bottom: 3%;
    }
.sns>a>img{
    transition: all 0.3s;
}
.sns>a>img:hover{
    transform: scale(1.15);
}

