body{
    display: none;
}
@media screen and (max-width:320px) {

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 430px;
    height: 110px;
    background-color: #f2352b;
    position: relative;
    }
    
    .desktop_only {
        
        display: none;
    }
    
.logo {
    float: left;
    margin-top: 11px;
    margin-left: 10px;
    width: 76px;
    height: 32px;
    position: absolute;
}
.right_side_location {
    position: absolute;
    top: 0px;
    left: 400px;
}
.right_side_location_text {
    color: white;
    font-size: 14px;
    position: absolute;
    top:0;
    left: 300px;
}
.input {
    position: absolute;
    margin-top: 60px;
    left: 50%;
    margin-left: -209px;
}
.loc {
    width: 40px;
    height: 40px;
    background: white;
    float: left;
    margin-right: 8px;
    border-radius: 5px;
}
.loc>a>img {
    margin: 8px;
}

.login_button {
    float: left;
    font-size: 1em;
    color: white;
    border: 1px solid #f8b9b3;
    border-radius: 2px;
    padding: 2px;
    position: absolute;
    top: 0;
    left: 90px;
}

input {
    width: 310px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    float: left;
    font-size: 14.2px;
    padding-top: 3px;
    padding-left: 10px;
    letter-spacing: -0.8px;
}

input::-webkit-input-placeholder { color: #a5a5a5; }

button {
    height: 40px;
    width: 60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color:#ffd147;
    font-size: 14px;
    float: left;
    transition: all 0.6s;
}
    
    button:hover {
         background-color:#f2352b;
        color: white;
        border: 1px solid white;
    }
    .header_img, header_img>img {
        display: none;
    }
    

/*------------------------------------*/

.boxes{
    width: 421.4px;
    margin: 10px 0 0 10px;
    background-color: #fafafa;
}

.boxes:after {
    display: block; clear: both; content: "";
}

.box {
    width: 202px;
    height: 220px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    z-index: 100;
}

.inner_box {
    margin: 10px;
    position: relative;
}
.inner_box h2 {
    font-size: 17px;
    font-weight:600;
    position: absolute;
    z-index: 1000;
}
.inner_box p {
    font-size: 14px;
    color: #999999;
    position: absolute;
    z-index: 999;
    margin-top: 20px;
}

.inner_box_img {
    position: absolute;
    top:-10px;
    right: -6%;
    z-index: 80;
}
/*----------------------푸타-------------------*/



footer {
    width: 430px;
    height: 260px;
    background: #FBFBFB;
    padding-bottom: 65px;
}

.upper_footer {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
    padding: 12px 0;
}

.upper_footer>ul>li {
    display: inline-block;
    font-size: 12px;
    color: #818181;
    border-left: 1px solid #dbdfe7;
    padding:0 6px 0 8px;
}

.upper_footer>ul>li:nth-child(1){
    border: none;
}

.bottom_footer {
    padding: 25px 12px;
}

.bottom_footer h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer_grey_1 {
    font-size: 12px;
    color: #4d4d4d;
}

.footer_grey_2 {
    margin-top: 8px;
    font-size: 12px;
    color: #989898;
}
 
    
    
}
































/*--------------태블릿-----------*/
@media screen and (max-width:767px){

    /*--------------태블릿-----------*/
    .mobile {display: block;}
    .large {display: none;}
    /*-------------------------*/
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    min-width: 100%;
    height: 110px;
    background-color: #f2352b;
    position: relative;
    }
    
    
.desktop_only{display: none;}
.logo {
    float: left;
    margin-top: 11px;
    margin-left: 10px;
    width: 76px;
    height: 32px;
}
.right_side_location {
    float: right;
    margin-top: 20px;
    margin-right: 15px;
}
.right_side_location_text {
    float: right;
    margin-top: 22px;
    margin-right: 4px;
    color: white;
    font-size: 14px;
}
.input {
    position: absolute;
    margin-top: 60px;
    left: 50%;
    margin-left: -209px;
}
.loc {
    width: 40px;
    height: 40px;
    background: white;
    float: left;
    margin-right: 8px;
    border-radius: 5px;
}
.loc>a>img {
    margin: 8px;
}

.login_button {
    float: left;
    font-size: 14px;
    color: white;
    border: 1px solid #f8b9b3;
    border-radius: 2px;
    margin-top: 17px; 
    margin-left:5px;
    padding: 0px 1px;
}

input {
    width: 310px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    float: left;
    font-size: 14.2px;
    padding-top: 3px;
    padding-left: 10px;
    letter-spacing: -0.8px;
}

input::-webkit-input-placeholder { color: #a5a5a5; }

button {
    height: 40px;
    width: 60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color:#ffd147;
    float: left;
    font-size: 14px;
    transition: all 0.6s;
}
    
    button:hover {
         background-color:#f2352b;
        color: white;
        border: 1px solid white;
    }
    .header_img, header_img>img {
        display: none;
    }
    

/*------------------------------------*/

.boxes{
    min-width: 98%;
    margin: 10px 0 0 10px;
    background-color: #fafafa;
}

.boxes:after {
    display: block; clear: both; content: "";
}

.box {
    min-width: 48%;
    height: 220px;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    z-index: 100;
}

.inner_box {
    margin: 10px;
    position: relative;
}
.inner_box h2 {
    font-size: 17px;
    font-weight:600;
    position: absolute;
    z-index: 1000;
}
.inner_box p {
    font-size: 14px;
    color: #999999;
    position: absolute;
    z-index: 999;
    margin-top: 20px;
}

.inner_box_img {
    position: absolute;
    top:-10px;
    right: -6%;
    z-index: 80;
}
/*----------------------푸타-------------------*/



footer {
    min-width: 100%;
    height: 260px;
    background: #FBFBFB;
    padding-bottom: 65px;
}

.upper_footer {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
    padding: 12px 0;
}

.upper_footer>ul>li {
    display: inline-block;
    font-size: 12px;
    color: #818181;
    border-left: 1px solid #dbdfe7;
    padding:0 6px 0 8px;
}

.upper_footer>ul>li:nth-child(1){
    border: none;
}

.bottom_footer {
    padding: 25px 12px;
}

.bottom_footer h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer_grey_1 {
    font-size: 12px;
    color: #4d4d4d;
}

.footer_grey_2 {
    margin-top: 8px;
    font-size: 12px;
    color: #989898;
}
    
}





@media screen and (min-width:768px) and (max-width:1023px){
    
/*-----------태블릿----------*/

.mobile {display: none;}
.large {display: block;}

 .desktop_only{display: none;}
/*---------------------------*/    
    
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    min-width: 100%;
    background-color: #f2352b;
    position: relative;
    }
.logo {
    float: left;
    margin-top: 18px;
    margin-left: 8px;
}
.right_side_location {
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    display: none;
}
.right_side_location_text {
    float: right;
    margin-top: 22px;
    margin-right: 4px;
    color: white;
    font-size: 14px;
    display: none;
}
.input {
    position: absolute;
    margin-top: 205px;
    left: 50%;
    margin-left: -209px;
    z-index: 15;
}
.loc {
    min-width: 40px;
    height: 40px;
    background: white;
    float: left;
    margin-right: 8px;
    border-radius: 5px;
}
.loc>a>img {
    margin: 8px;
}

.login_button {
    float: right;
    font-size: 18px;
    color: white;
    border: 1px solid #f8b9b3;
    border-radius: 3px;
    margin-top: 19px; 
    margin-right:10px;
    padding: 5px 20px;
    transition: all 0.5s;
}
    
    .login_button:hover {
        background-color: white;
        color: #f2352b;
    }

input {
    width: 310px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    float: left;
    font-size: 14.2px;
    padding-top: 3px;
    padding-left: 10px;
    letter-spacing: -0.8px;
}

input::-webkit-input-placeholder { color: #a5a5a5; }

button {
    height: 40px;
    width: 60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color:#ffd147;
    float: left;
    font-size: 14px;
    transition: all 0.4s;
}
    
    button:hover {
         background-color:#f2352b;
        color: white;
    }
/*태블릿수정*/
    
header {
        height: 315px;
    }    
    
.header_img {
    width: 100%;
    height: 238px;
    background: black;
    position: absolute;
    bottom:0;
    z-index: 10;
    overflow: hidden;
}


    
.header_img_txt{
        z-index: 12;
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -190px;
        color: white;
        text-align: center;
    
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
        -moz-text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
        -webkit-text-shadow: -1px 0 #f00, 0 1px #f00, 1px 0 #f00, 0 -1px #f00;
    }



    
/*-------------컨텐츠----------------------*/

.boxes{
    min-width: 98%;
    margin: 10px 0 0 10px;
    background-color: #fafafa;
}

.boxes:after {
    display: block; clear: both; content: "";
}

.box {
    min-width: 32.2%;
    height: 220px;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    z-index: 100;
}

.inner_box {
    margin: 10px;
    position: relative;
}
.inner_box h2 {
    font-size: 17px;
    font-weight:600;
    position: absolute;
    z-index: 1000;
}
.inner_box p {
    font-size: 14px;
    color: #999999;
    position: absolute;
    z-index: 999;
    margin-top: 20px;
}

.inner_box_img {
    position: absolute;
    top:-10px;
    right: -6%;
    z-index: 80;
}
/*----------------------푸타-------------------*/



footer {
    min-width: 100%;
    height: 220px;
    background: #FBFBFB;
    margin-top: 18px;
}

.upper_footer {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    text-align: left;
    padding: 12px 0 12px 3px;
}

.upper_footer>ul>li {
    display: inline-block;
    font-size: 13px;
    color: #818181;
    border-left: 1px solid #dbdfe7;
    padding:0 6px 0 8px;
}

.upper_footer>ul>li:nth-child(1){
    border: none;
}

.bottom_footer {
    padding: 25px 12px;
}

.bottom_footer h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer_grey_1 {
    font-size: 12px;
    color: #4d4d4d;
}

.footer_grey_2 {
    margin-top: 8px;
    font-size: 12px;
    color: #989898;
}
    
}

























/*-------------desktop--------------------------*/




@media screen and (min-width:1024px){
    
/*-----------태블릿----------*/

.mobile {display: none;}
.large {display: block;}
.desktop_non {display: none;}
.desktop_only {display: block;}    

    .header_wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    
/*---------------------------*/    
    
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    min-width: 100%;
    background-color: #f2352b;
    position: relative;
    }
.logo {
    float: left;
    margin-top: 18px;
    margin-left: 8px;
}
.right_side_location {
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    display: none;
}
.right_side_location_text {
    float: right;
    margin-top: 22px;
    margin-right: 4px;
    color: white;
    font-size: 14px;
    display: none;
}
.input {
    position: absolute;
    margin-top: 205px;
    left: 50%;
    margin-left: -209px;
    z-index: 15;
}
.loc {
    min-width: 40px;
    height: 40px;
    background: white;
    float: left;
    margin-right: 8px;
    border-radius: 5px;
}
.loc>a>img {
    margin: 8px;
}

.login_button {
    float: right;
    font-size: 18px;
    color: white;
    border: 1px solid #f8b9b3;
    border-radius: 3px;
    margin-top: 19px; 
    margin-right:10px;
    padding: 5px 20px;
    transition: all 0.5s;
}
    
    .login_button:hover {
        background-color: white;
        color: #f2352b;
    }

input {
    width: 310px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    float: left;
    font-size: 14.2px;
    padding-top: 3px;
    padding-left: 10px;
    letter-spacing: -0.8px;
}

input::-webkit-input-placeholder { color: #a5a5a5; }

button {
    height: 40px;
    width: 60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color:#ffd147;
    float: left;
    font-size: 14px;
    transition: all 0.4s;
}
    
    button:hover {
         background-color:#f2352b;
        color: white;
    }
/*태블릿수정*/
    
header {
        height: 315px;
    }    
    
.header_img {
    width: 100%;
    height: 238px;
    background: black;
    position: absolute;
    bottom:0;
    z-index: 10;
    overflow: hidden;
}


    
.header_img_txt{
        z-index: 12;
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -190px;
        color: white;
        text-align: center;
    
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
        -moz-text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
        -webkit-text-shadow: -1px 0 #f00, 0 1px #f00, 1px 0 #f00, 0 -1px #f00;
    }

    header:after {display: block; clear: both; content: "";}

    
/*-------------컨텐츠----------------------*/

.boxes{
    width: 1010px;
    margin: 0 auto;
    padding: 10px 0 0 10px;
    background-color: #fafafa;
}

.boxes:after {
    display: block; clear: both; content: "";
}

.box {
    width: 240px;
    height: 220px;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    z-index: 100;
}

.inner_box {
    margin: 10px;
    position: relative;
}
.inner_box h2 {
    font-size: 17px;
    font-weight:600;
    position: absolute;
    z-index: 1000;
}
.inner_box p {
    font-size: 14px;
    color: #999999;
    position: absolute;
    z-index: 999;
    margin-top: 20px;
}

.inner_box_img {
    position: absolute;
    top:-10px;
    right: -6%;
    z-index: 80;
    
}
/*----------------------푸타-------------------*/



footer {
    min-width: 100%;
    height: 220px;
    background: #FBFBFB;
    margin-top: 18px;
}

.upper_footer {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    text-align: left;
    padding: 12px 0 12px 3px;
}
    
.thousand {
    width: 1000px;
    margin: 0 auto;
}

.upper_footer>ul>li {
    display: inline-block;
    font-size: 13px;
    color: #818181;
    border-left: 1px solid #dbdfe7;
    padding:0 6px 0 8px;
}

.upper_footer>ul>li:nth-child(1){
    border: none;
}

.bottom_footer {
    padding: 25px 12px;
}

.bottom_footer h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer_grey_1 {
    font-size: 12px;
    color: #4d4d4d;
}

.footer_grey_2 {
    margin-top: 8px;
    font-size: 12px;
    color: #989898;
}
    
}
@media screen and (min-width:1400px){
    .header_img>img{
        width: 100%;
        height: 100%;
    }
}
